.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
  }
  
  #logout-form {
    display: inline;
  }
  #logout-form button {
    padding: 0;
    margin: 0;
  }


.sidebar-nav li {
  margin-bottom: 10px;
}

.content {
  padding: 20px;
}

.home-link {
  font-size: 1.2rem;
}

